@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(image1.jpg);
    background-size: cover;
    background-position: 50%;
    color: black;
    font-size: 40px;
    }

.input{
    display: block;
    height: 5rem;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    /* display: flex; */
}  
.boxes{
    display: flex;
    /* border: 1px solid red; */
    width: 100vw;
    /* justify-content: space-evenly; */
    gap: 50px;
    justify-content: center;
    
}  
/* label{
    font-size: 40px;
    text-align: center;
} */

    

/* .wrapper{
    background-color: red;
} */